@page
@model EF_CRUD.Pages.JuridicalPeople.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.JuridicalPerson[0].ClientID)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.JuridicalPerson[0].CompanyName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.JuridicalPerson[0].TradeName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.JuridicalPerson[0].CNPJ)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JuridicalPerson) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClientID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClientID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.JuridicalPerson.HasPreviousPage() ? "disabled" : "";
    var nextDisabled = !Model.JuridicalPerson.HasNextPage() ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.JuridicalPerson.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.JuridicalPerson.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>